.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Separación entre los botones */
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 4px; /* Separación horizontal entre los botones */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }